<h1>Showing Insiders</h1>
<table>
	<thead>
		<tr>
		<td>
		Name
		</td>
		<td>
		Price
		</td>
		<td>
		 email
		</td>
	</thead>
	<tbody>
		<tr>
		
			<td><%= @insider.fullname %></td>
			<td><%= @insider.price %></td>
			<td><%= @insider.email %></td>
		</tr>

	</tbody>
</table>