<h1>Showing Tourists</h1>
<table>
	<thead>
		<tr>
		<td>
		First Name
		</td>
		<td>
		Email
		</td>
	</thead>
	<tbody>
		<tr>
			<td><%= @tourist.fullname%></td>
			<td><%= @tourist.email %></td>
		</tr>

	</tbody>
</table>