<h1>Showing Tours</h1>
<table>
	<thead>
		<tr>
		<td>
		Activities
		</td>
		<td>
		Rating
		</td>
	</thead>
	<tbody>
		<tr>
		
			<td><%= @tour.activities %></td>
			<td><%= @tour.rating %></td>
		</tr>

	</tbody>
</table>